html,body{
    margin:0;
    padding:0;
    font-weight:300;
    margin:0 auto;
    color:#555;
    font-size:15px;
  }
  .respons{
    max-width:1000px;
    margin:0 auto;
    padding:50px 20px;
  }
  h1{
    font-size:30px;
  }
  ul,li,dl,dt,dd{margin:0;padding:0;list-style:none;}
  .boxArea{
      width:500px;
      height:500px;
      background-color:orange;
  }