#aniBoxArea{
    overflow:hidden;
}
#aniBoxArea li{
    width:30px;
    background:orange;
    border-radius: 10px;
    margin:30px;
    padding:50px;

}
#aniBoxArea li:hover{
    /* animation:movemove 1s;     */
}
@keyframes movemove{
    0% {
        transform:translate(100px, 100px);
        transform:rotate(180deg);
        background:yellow;
    }
    100% {
        transform:translate(40px,40px);
        background:skyblue;
        transform:rotate(-180deg);
    }
}